h1 {
    colour: #414141;
    background: green;
     text-allign: top right;
}
   

 .container h2
 {
     border: 10px;
     
     background: blue;
   padding: 10px red;
     height: 30px;
      width: 100px;
}
 }
 .d2< .h
{  
    background: red;
padding: 10px;
     height: 30px;
      width: 100px;
}
.d3< .h3
{
     background: orange;
    padding: 10px;
    height:60px;
    width: 60px;
}
