h1 {
    colour: #414141;
    background: green;
     text-allign: top right;
}

.container<.d1<.h
 {
     padding: 10px;
     height: 30px;
      width: 30px;
 }
 .container<.d2<.h2
{  
padding: 10px;
     height: 30px;
      width: 30px;
}
.container<.d3<.h3
{
    padding: 10px;
    height:60px;
    width: 60px;
}
