h1 {
    colour: #414141;
    background: green;
     text-allign: top right;
}
   

 .container h2
 {
     border: 5px solid black;
     background: blue;
      padding: 10px 10px 10px 10px;
      margin: 40px purple;
}
 
 
